.navbar{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 1.8cm;
    background: white;
    display: flex;
}
li{
    list-style: none;
}
.item{
    display: flex;
    /* padding: 0.4cm; */
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0cm;
    box-sizing: border-box;
    text-shadow: 0 0 1px black;


}
.logo1{  box-sizing: border-box;
    height: 1.6cm;
    width: 2.8cm;
    padding-left: 1cm;
    
  
}
.item li{
    /* border: 1px solid black; */
    padding-right: 1cm;
    padding-top: 0.6cm;
}


.buttons1{
    display: flex;
    margin-left: 4cm;
}

.color{
    background: transparent;
    border-radius: 20px;
    height: 1.2cm;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    margin-left: 0.5cm;


}
.color1{
    background: transparent;
    border-radius: 20px;
    height: 1.2cm;
    width: 2cm;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    
position: relative;
left: -80px;
color: rgb(0, 0, 0);
background-color: rgb(5, 110, 40);
}
.color:nth-child(1){
    background: rgb(132, 114, 175);
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.color:nth-child(2){ background: rgb(245, 130, 197);
    padding-left: 0.3cm;
    padding-right: 0.3cm;}
.color:nth-child(3){
    background: rgb(224, 188, 70);
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.color:nth-child(4){ background: rgb(126, 240, 150);
    padding-left: 1.5cm;
    padding-right: 0.3cm;
    position: relative;
    left: 60px; 
    
}




button{
    cursor: pointer;
}


.logos{
    position: absolute;
    right: 0px;
    top: 70px;
    padding: 0.5cm;

}
.first{
    color: white;
    background: rgb(58, 55, 71);
    width: 100vw;
    height: 18.8cm;
  
    }

 .firstcenter{
    padding-top: 6.5cm;
    width: 100vw;
   
    text-align: center;
    padding-bottom: 6.5cm;
 }   
 h1{
    font-size: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif; }
 *{
    padding: 0%;
    margin: 0%;
 }
 .pinkpara{
    color: rgb(182, 96, 125);
    font-size: 25px;
 }
 .search1{
    padding: 5px;
    width: 8cm;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    font-size: 24px;

 }
 .sbutton{
    outline: 0;
    background-color: aquamarine;
    width: 2cm;
    padding: 5px;
    font-size: 24px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    white-space: normal;
 }
 .sure{
    font-size: 22px;
    text-decoration: underline;
 }

 .first::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 90%;
    width: 64%;
    height: 160px;
    background-color:rgb(207, 255, 238) ;
    right: -100px;
    opacity: 1;;
    bottom: -87px;
}
.first::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 90%;
    width: 71.1%;
    height: 150px;
    background-color: rgb(58, 55, 71);
    left: -310px;
    bottom: -25px;
    /* border: 2px solid red; */
}
.second{
    display: flex;
    background-color:rgb(207, 255, 238) ;
}

.secondleft{
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 50%;
    height: 18cm;
    text-align: center;
    
    padding-top: 5cm;
    font-size: 20px;
}
.black{
    font-size: 80px;
}
.colorss1{
   
    border-radius: 20px;
    height: 1.2cm;
    width: 5cm;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    margin-left: 0.5cm;
    background-color: rgb(1, 121, 55);
}
.colorss2{
   
    border-radius: 20px;
    width: 5cm;
    height: 1.2cm;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    margin-left: 0.5cm;
    background-color: rgba(241, 238, 21, 0.541);
}
.colorss3{width: 5cm;
    border-radius: 20px;
    height: 1.2cm;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    background-color: rgb(58, 55, 71);
    color: white;
    margin-left: 0.5cm;
}
.colorss4{
   width: 5cm;
    border-radius: 20px;
    height: 1.2cm;
    font-size: 16px;
    margin-top: 10px;
    background-color: pink;
    padding: 6px;
    margin-left: 0.5cm;
}
.secondright{
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 40%;
    height: 11cm;
   
    box-shadow: 0 0 10px gray;
    
    margin-top: 5cm;
    font-size: 20px;
    background-color: white;
    border-radius: 6px;
}
.htmlbox{
    /* width: 100%;
    height: 100%; */
    /* border: 2px solid black; */
    margin-top: 0.3cm;
padding-top: 0.7cm;
padding-left: 0.4cm;
background-color: white;
}
.codebox{
    /* border: 2px solid blue;  */
    font-size: 16px;
    margin: 0.5cm;
    background-color: rgb(58, 55, 71);
    padding: 0.5cm;
    color: white;
}
.try{
    border-radius: 20px;
    height: 1.2cm;
    width: 5cm;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding: 6px;
    margin-left: 0.5cm;
    background-color: rgb(55, 180, 122);
}
.he{
    color: aquamarine;
}
.bo{
    color: pink;
}
.thirdleft{
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 50%;
    height: 18cm;
    text-align: center;
    
    padding-top: 5cm;
    font-size: 20px;
}
.third{
    display: flex;
    background-color:rgba(240, 255, 106, 0.527) ;
}
.colorss11{
    width: 5cm;
     border-radius: 20px;
     height: 1.2cm;
     font-size: 16px;
     margin-top: 10px;
     background-color: rgb(192, 255, 224);
     padding: 6px;
     margin-left: 0.5cm;
     /* color: white; */
 }
 .colorss33{
    width: 5cm;
     border-radius: 20px;
     height: 1.2cm;
     font-size: 16px;
     margin-top: 10px;
     background-color: rgb(5, 5, 5);
     padding: 6px;
     margin-left: 0.5cm;
     color: white;
 }
 .colorss44{
    width: 5cm;
     border-radius: 20px;
     height: 1.2cm;
     font-size: 16px;
     margin-top: 10px;
     background-color: pink;
     padding: 6px;
     margin-left: 0.5cm;
 }
 
 .thirdright{
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 40%;
    height: 11cm;
   
    box-shadow: 0 0 10px gray;
    padding-top: 0.7cm;
padding-left: 0.4cm;
    margin-top: 5cm;
    font-size: 20px;
    background-color: white;
    border-radius: 6px;
 }